@{
    ViewBag.Title = "Phones";
}

<ul>
    <li ng-repeat="phone in phones">
        {{phone.name}}
        <p>{{phone.snippet}}</p>
    </li>
</ul>
<p>Total number of phones: {{phones.length}}</p>
<p>First Phone: {{phones[0].name}}</p>

<h2>Experiments</h2>
<table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i}}</td></tr>
</table>

<table>
    <tr><th>row number</th></tr>
    <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]"><td>{{i+1}}</td></tr>
</table>
@section scripts {
    <script type="text/javascript" src="~/Scripts/controllers.js"> </script>
}